@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* stylelint-disable  csstree/validator */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable  no-duplicate-selectors */

body {
  margin: 0;
  background-image: url(/images/Shapes.svg);
  background-repeat: no-repeat;
  background-position-y: 1cm;
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  padding: 0.8em 1.2em 1.3em 0.1em;
}

header {
  display: flex;
  justify-content: space-between;
}

.hide-mobile {
  display: none;
}

.logo {
  width: 76px;
  height: 20px;
  margin-left: 12;
}

.menu {
  width: 25px;
  margin-right: 50px;
}

.hero_section {
  .hero {
    padding-top: 80px;

    h1 {
      width: 350px;
      height: 150px;
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      line-height: 52px;
      display: flex;
      align-items: center;
      margin: 3px;
      padding: 0.2em;
    }

    .infor {
      width: 300px;
      top: 276px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #344563;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 5px;
      padding: 0.2em;
    }

    .connect {
      color: #7f8cff;
      font-size: 20px;
      margin: 5px;
      padding: 0.2em;
    }
  }

  .social_logos {
    margin-left: 0.3em;
  }

  span {
    padding: 0.3em;
    background-color: black;
  }

  i {
    color: #505f79;
  }
}

.projects_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 327px;
  margin: 3rem 0 2;
}

.project {
  box-sizing: border-box;
  border-radius: 16px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #dfe1e6;
}

.details_div {
  h2 {
    width: 295px;
    font-size: 40px;
    line-height: 44px;
    color: #172b4d;
    margin: 12px 0 2;
  }
}

.some_details {
  display: flex;
  justify-content: space-between;
  margin-right: 0.2em;
}

.bold {
  list-style-type: none;
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #344563;
}

i {
  font-size: 0.6rem;
  padding: 0.5rem;
  color: #c1c7d0;
}

.technologies_used {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0;

  li {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    position: static;
    background: #ebebff;
    border-radius: 8px;
    margin: 0 8px;
  }
}

.external_links {
  .view_project {
    font-family: "Poppins", sans-serif;
    margin: 0.6rem;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #396df2;
  }
}

.about_self {
  margin-top: 5em;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 5rem;
  padding: 1rem;
  background: #fff;
}

h2 {
  width: 327px;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
}

p {
  // font-weight: normal;
  font-size: 16px;
  color: #344563;
  margin: 12px 0 3;
}

.social_logos2 {
  margin-left: 0.3em;

  span {
    padding: 0.3em;
    background-color: black;

    a {
      color: #505f79;
    }
  }
}

.external_links {
  .view_project {
    border-radius: 15px;
    margin: 0.6rem;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #396df2;
  }
}

h3 {
  height: 24px;
  width: 237px;
  left: 12px;
  top: 24px;
  font-family: "Poppins", sans-serif;
}

.contact-section {
  background-color: #6070ff;
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  padding: 5em;
  margin-top: 0.5em;
  margin-bottom: 10em;
  // border-top-left-radius: 110px;
  flex-direction: column;
  // justify-content: start;
  // width: 375px;
  // top: 5410px;
}

#contact-card-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 3em;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fefefe;
}

.contact-section {
  display: flex;
  flex-direction: columns;
  margin: 30px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}
