@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@500&display=swap");

/* stylelint-disable  csstree/validator */
/* stylelint-disable no-descending-specificity */
body {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;

  header {
    .Logo {
      display: flex;
      justify-content: space-between;
      padding: 3rem;
      margin: 0.5rem;

      ul {
        li {
          list-style: none;

          a {
            position: static;
            height: 20px;
            left: 12px;
            top: 10px;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #6070ff;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0 0;
          }

          i {
            color: #6070ff;
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    .hero_section {
      background-image: url(/images/Shapes.svg);
      background-repeat: no-repeat;
      padding: 0 2rem;
      background-position: 10px;ghh

      .hero {
        padding-top: 90px;

        h1 {
          position: static;
          width: 327px;
          height: 150px;
          left: 24px;
          top: 114px;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 52px;
          display: flex;
          align-items: center;
          color: #172b4d;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 12px 0;
        }

        p {
          position: static;
          width: 327px;
          left: 24px;
          top: 276px;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #344563;
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 12px 0;
        }
      }

      .social_logos {
        span {
          a {
            padding: 0.3rem;
            color: #505f79;
          }
        }
      }
    }

    .about_self {
      border: 1px solid #dfe1e6;
      border-top-right-radius: 5rem;
      padding: 1rem;
      width: 327px;
      margin: 0 1rem;
      background: #fff;

      h1 {
        position: static;
        width: 327px;
        height: 150px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        display: flex;
        align-items: center;
        color: #172b4d;
      }

      p {
        position: static;
        width: 327px;
        left: 24px;
        top: 276px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #344563;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 12px 0;
      }

      .social_logos2 {
        span {
          a {
            padding: 0.3rem;
            color: #505f79;
          }
        }
      }

      .external_links {
        .view_project {
          font-family: "Poppins", sans-serif;
          margin: 0.6rem;
          font-size: 17px;
          line-height: 24px;
          letter-spacing: 0.04em;
          color: #396df2;
        }
      }

      h3 {
        height: 24px;
        width: 237px;
        left: 12px;
        top: 24px;
        font-family: "Poppins", sans-serif;

        i {
          left: 25%;
          right: 25%;
          top: 37.5%;
          bottom: 37.5%;
          padding: 0.001rem;
          border: 2px solid #acb7c3;
          display: flex;
        }
      }
    }

    .projects_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      width: 327px;
      left: calc(50% - 327px / 2);
      background: #fff;
      margin: 2rem 0;

      .project {
        box-sizing: border-box;
        border-radius: 16px;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid #dfe1e6;

        .details_div {
          h2 {
            position: static;
            width: 295px;
            height: 36px;
            left: 0;
            top: 0;
            font-weight: bolder;
            font-family: "Poppins", sans-serif;
            font-size: 33px;
            line-height: 44px;
            color: #172b4d;
            margin: 12px 0;
          }

          .technologies_used {
            display: flex;
            list-style: none;
            flex-direction: row;
            padding: 0;

            li {
              font-family: "Poppins", sans-serif;
              font-size: 12px;
              letter-spacing: 0.03em;
              color: #6070ff;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 4px 12px;
              position: static;
              background: #ebebff;
              border-radius: 8px;
              margin: 0 8px;
            }
          }

          p {
            font-family: "Poppins", sans-serif;
            font-weight: 900;
            font-size: 17px;
            color: #344563;
          }

          .external_links {
            .view_project {
              font-family: "Poppins", sans-serif;
              margin: 0.6rem;
              font-size: 17px;
              line-height: 24px;
              letter-spacing: 0.04em;
              color: #396df2;
            }
          }

          .some_details {
            display: flex;
            justify-content: space-between;
            padding: 2px;

            .bold {
              list-style-type: none;
              position: static;
              width: 55px;
              height: 16px;
              left: 0;
              top: 8px;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              color: #344563;
            }

            li {
              list-style-type: none;
              padding: 0;

              i {
                font-size: 0.6rem;
                padding: 0.5rem;
                color: #c1c7d0;
              }
            }
          }
        }
      }
    }
  }
}
